<input type="text" [(ngModel)]="titre">
<div class="container">
  <div class="row">
    <div *ngFor ="let category of categories"  class="col-md-4" style="margin-bottom: 20px;">
    <ng-container *ngIf="!titre || category.title.toLowerCase().includes(titre.toLowerCase())">
      <app-card (add)="addToShortList(category)"  (notified)="f($event)"
        [id]="category.id" 
        [image]="category.image" 
        [title]="category.title" 
        [description]="category.description" 
        [available]="category.available" 
        [btnText]="category.btnText">
      </app-card>        
      </ng-container>
    </div>   
   </div>   
   </div>